@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #F1F1F1;
  font-weight: 500;
}

.text-shadow {
  text-shadow: 1px 1px red;
}